.imagelist {
  display: flex;
  flex-direction: column;
}
.likeicon {
  color: green;
  display: flex;
  align-items: center;
}
.dislikeicon {
  color: red;
}
.image {
  height: 200px;
  width: 250;
  padding: 18px;
  transition: transform 450ms;
}
.imgonclick {
  transform: scale(1);
  height: 250px;
}
