.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* border: 1px solid black; */
}
.searchbar__input {
  padding: 8px;
  width: 500px;
  border: none;
}
