.unspalshimages h1 {
  text-align: center;
}

.unspalshimages__image-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.unspalshimages__img {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
